<main class="main">
  @for (question of questionnaire; track question.title) {
  <div class="question">
    <div class="left-side">
      <h1>{{ question.title }}</h1>
    </div>

    <div class="right-side">
      @if (question.type === 'single_choice') {
      <div class="answer-group">
        @for (option of question.options; track option.id) {
        <div class="answer">
          <input
            type="radio"
            [id]="option.id"
            [name]="question.title"
            [value]="option.value"
            [checked]="checkedRadio(question.id, option.id)"
            (change)="changeRadio(question.id, option.id)"
          />
          <label [for]="option.id">{{ option.value }}</label>
        </div>
        }
      </div>
      } @else if (question.type === 'multiple_choice') {
      <div class="answer-group">
        @for (option of question.options; track option.id) {
        <div class="answer">
          <input
            type="checkbox"
            [id]="option.id"
            [name]="question.title"
            [value]="option.value"
            [checked]="checkedCheckbox(question.id, option.id)"
            (change)="changeCheckbox(question.id, option.id)"
          />
          <label [for]="option.id">{{ option.value }}</label>
        </div>
        }
      </div>
      } @else {
      <div class="answer">
        <textarea
          rows="4"
          cols="32"
          [id]="question.id"
          [name]="question.title"
          [value]="question.answers"
          (change)="changeTextarea(question.id, $event)"
        ></textarea>
      </div>
      }
    </div>
  </div>
  }
</main>

<router-outlet />
