:host {
  --bright-blue: hsl(224 100% 51%);
  --french-violet: hsl(278 99% 39%);
  --hot-red: hsl(343 89% 52%);
  --gray-900: hsl(259 7% 8%);

  color: var(--gray-900);
  font-family: sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 3.125rem;
  margin: 0px;
  line-height: 100%;
}

main {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  box-sizing: inherit;
}

.question {
  display: grid;
  grid-template-columns: minmax(0px, 1fr) minmax(290px, auto);
  align-items: center;
  gap: 48px;
  width: fit-content;
  max-width: 700px;
  margin-bottom: 48px;
}

.answer {
  display: flex;
  align-items: center;
  --answer-colour: var(--bright-blue);
  background: color-mix(in srgb, var(--answer-colour) 5%, transparent);
  color: var(--answer-colour);
  padding-inline: 12px;
  padding-block: 12px;
  border-radius: 6px;
  border: 0;
  transition: background 0.3s ease;
  font-family: var(--inter-font);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4rem;
  letter-spacing: -0.00875rem;
  text-decoration: none;

  &:hover {
    background: color-mix(in srgb, var(--answer-colour) 15%, transparent);
  }
}

.answer-group {
  display: flex;
  flex-direction: column;
  align-items: start;
  flex-wrap: wrap;
  gap: 12px;

  .answer:nth-child(6n + 1) {
    --answer-colour: var(--bright-blue);
  }

  .answer:nth-child(6n + 2) {
    --answer-colour: var(--french-violet);
  }

  .answer:nth-child(6n + 3) {
    --answer-colour: var(--hot-red);
  }
}

@media screen and (max-width: 430px) {
  .question {
    grid-template-columns: 1fr;
    gap: 24px;
  }
}
