<main class="main">
  @for (question of questionnaire; track question.title) {
  <div class="content">
    <div class="left-side">
      <h1>{{ question.title }}</h1>
    </div>

    <div class="divider" role="separator" aria-label="Divider"></div>

    <div class="right-side">
      @if (question.type === 'single_choice') {
      <div class="pill-group">
        @for (option of question.options; track option.verbose_name) {
        <!-- <div class="pill">
          <span>{{ option.verbose_name }}</span>
        </div> -->
        <div class="pill">
          <input
            type="radio"
            [id]="option.id"
            [name]="question.title"
            [value]="option.value"
          />
          <label [for]="option.id">{{ option.verbose_name }}</label>
        </div>
        }
      </div>
      } @else if (question.type === 'multiple_choice') {
      <div class="pill-group">
        @for (option of question.options; track option.verbose_name) {
        <div class="pill">
          <input
            type="checkbox"
            [id]="option.id"
            [name]="question.title"
            [value]="option.value"
          />
          <label [for]="option.id">{{ option.verbose_name }}</label>
        </div>
        }
      </div>
      } @else {
      <div class="pill-group">
        <div class="pill">
          <textarea
            [id]="question.id"
            [name]="question.title"
            rows="4"
            cols="32"
          >{{question.answer}}</textarea>
        </div>
      </div>
      }
    </div>
  </div>
  }
</main>

<router-outlet />
